doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    script(src='/javascripts/main.js')
  body
    header
      div.container
        div.row
          div.col-md-12
            nav(class="navbar navbar-default")
              div.container-fluid
                div.navbar-header
                  button(class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1")
                    div.bar1
                    div.bar2
                    div.bar3
                  h1.day0
                    p eMen&uacute;
                      img(src="/images/list.png" style="width:10%")
                div(class="collapse navbar-collapse" id="bs-example-navbar-collapse-1")
                  div(class="nav navbar-nav navbar-right")
                    button(class="bot_cuenta")
                      a(href="#") Cuetas
    div.body
      div(class="menu" id="inputs1")
        block content_obj
      div.cuenta-temp
        block cuenta
